.image-swap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  .image-swap>img {
    pointer-events: none;
    transition: all 0.6s;
    position: absolute;
    opacity: 0;
    left: 0;
  }
  
  .image-swap>img:first-child {
    position: static;
    opacity: 1;
  }
  
  .image-swap:active>img:first-child {
    opacity: 0;
  }
  
  .image-swap:active>img:last-child {
    opacity: 1;
  }